
<p>
  {{studentNameList}}
</p>
<div class="row form-group">
  <div class="col-sm-4">
    <label>Name: </label>
  </div>
  <div class="col-sm-4">
    <input type=text name=sname #sanme class="form-control"/>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-info" (click)="addNewStudent(sanme.value)">Add New Student</button>
  </div>
</div>
<ul>
  <li *ngFor="let name of studentNameList;let idx=index">
    <div *ngIf="name !== 'denish'">{{name}} = > {{idx}}</div>
  </li>
</ul>
